RewriteEngine on
#RewriteBase /uptobox/

RewriteRule ^$ ./php/public/index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^user/files$ ./php/private/user/init/index.php
RewriteRule ^user/files/create$ ./php/private/user/files/create_fold.php
RewriteRule ^admin$ ./php/private/admin/init/init.php

RewriteRule ^login$ ./php/public/login/login.php
RewriteRule ^activate/(.+)$ ./php/public/login.php?activate_code=$1

RewriteRule ^public/profile/(.+)$ ./php/public/public_profile.php?id_objeto=$1

RewriteRule ^login/verificate$ ./php/public/login/login_ajax.php

RewriteRule ^clave/reset$ ./php/public/new_password.php

RewriteRule ^init$ ./php/private/user/index.php



RewriteRule ^logout$ ./php/private/logout.php

RewriteRule ^webservices$ ./php/webservices/index.php [QSA,L]

RewriteRule ^webservices/(.*)$ ./php/webservices/index.php [QSA,L]